<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Accerciser"> <action name="Execute">
                <execute>accerciser</execute>
            </action> </item>
            <item label="bpython"> <action name="Execute">
                <execute>xterm -e bpython</execute>
            </action> </item>
            <item label="Builder"> <action name="Execute">
                <execute>gnome-builder</execute>
            </action> </item>
            <item label="CMake"> <action name="Execute">
                <execute>cmake-gui</execute>
            </action> </item>
            <item label="Devhelp"> <action name="Execute">
                <execute>devhelp</execute>
            </action> </item>
            <item label="Glade"> <action name="Execute">
                <execute>glade</execute>
            </action> </item>
            <item label="ipython"> <action name="Execute">
                <execute>xterm -e ipython</execute>
            </action> </item>
            <item label="Qt Assistant"> <action name="Execute">
                <execute>assistant</execute>
            </action> </item>
            <item label="Qt Designer"> <action name="Execute">
                <execute>designer</execute>
            </action> </item>
            <item label="Qt Linguist"> <action name="Execute">
                <execute>linguist</execute>
            </action> </item>
            <item label="Qt QDbusViewer"> <action name="Execute">
                <execute>qdbusviewer</execute>
            </action> </item>
            <item label="Qt4 Assistant"> <action name="Execute">
                <execute>assistant-qt4</execute>
            </action> </item>
            <item label="Qt4 Designer"> <action name="Execute">
                <execute>designer-qt4</execute>
            </action> </item>
            <item label="Qt4 Linguist"> <action name="Execute">
                <execute>linguist-qt4</execute>
            </action> </item>
            <item label="Qt4 QDbusViewer"> <action name="Execute">
                <execute>qdbusviewer-qt4</execute>
            </action> </item>
            <item label="Sublime Text 3 Dev"> <action name="Execute">
                <execute>subl3</execute>
            </action> </item>
            <item label="Sysprof"> <action name="Execute">
                <execute>sysprof</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Mousepad"> <action name="Execute">
                <execute>mousepad</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>xterm -e nano</execute>
            </action> </item>
            <item label="Text Editor"> <action name="Execute">
                <execute>gedit</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>xterm -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="10" label="Arcade">
                <item label="Nibbles"> <action name="Execute">
                    <execute>gnome-nibbles</execute>
                </action> </item>
                <item label="Robots"> <action name="Execute">
                    <execute>gnome-robots</execute>
                </action> </item>
            </menu>
            <menu id="11" label="Board">
                <item label="Chess"> <action name="Execute">
                    <execute>gnome-chess</execute>
                </action> </item>
                <item label="Iagno"> <action name="Execute">
                    <execute>iagno</execute>
                </action> </item>
                <item label="Mahjongg"> <action name="Execute">
                    <execute>gnome-mahjongg</execute>
                </action> </item>
            </menu>
            <menu id="12" label="Card">
                <item label="Tali"> <action name="Execute">
                    <execute>tali</execute>
                </action> </item>
            </menu>
            <menu id="13" label="Puzzle">
                <item label="Atomix"> <action name="Execute">
                    <execute>atomix</execute>
                </action> </item>
                <item label="Five or More"> <action name="Execute">
                    <execute>five-or-more</execute>
                </action> </item>
                <item label="Four-in-a-row"> <action name="Execute">
                    <execute>four-in-a-row</execute>
                </action> </item>
                <item label="Hitori"> <action name="Execute">
                    <execute>hitori</execute>
                </action> </item>
                <item label="Klotski"> <action name="Execute">
                    <execute>gnome-klotski</execute>
                </action> </item>
                <item label="Lights Off"> <action name="Execute">
                    <execute>lightsoff</execute>
                </action> </item>
                <item label="Mines"> <action name="Execute">
                    <execute>gnome-mines</execute>
                </action> </item>
                <item label="Quadrapassel"> <action name="Execute">
                    <execute>quadrapassel</execute>
                </action> </item>
                <item label="Sudoku"> <action name="Execute">
                    <execute>gnome-sudoku</execute>
                </action> </item>
                <item label="Swell Foop"> <action name="Execute">
                    <execute>swell-foop</execute>
                </action> </item>
                <item label="Taquin"> <action name="Execute">
                    <execute>gnome-taquin</execute>
                </action> </item>
                <item label="Tetravex"> <action name="Execute">
                    <execute>gnome-tetravex</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="6" label="Graphics">
            <item label="Document Viewer"> <action name="Execute">
                <execute>xreader</execute>
            </action> </item>
            <item label="E-book Viewer"> <action name="Execute">
                <execute>ebook-viewer</execute>
            </action> </item>
            <item label="FontForge"> <action name="Execute">
                <execute>fontforge</execute>
            </action> </item>
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="Image Viewer"> <action name="Execute">
                <execute>eog</execute>
            </action> </item>
            <item label="LRF Viewer"> <action name="Execute">
                <execute>lrfviewer</execute>
            </action> </item>
            <item label="MATE Color Selection"> <action name="Execute">
                <execute>mate-color-select</execute>
            </action> </item>
            <item label="Photos"> <action name="Execute">
                <execute>gnome-photos</execute>
            </action> </item>
            <item label="Ristretto Image Viewer"> <action name="Execute">
                <execute>ristretto</execute>
            </action> </item>
            <item label="Simple Scan"> <action name="Execute">
                <execute>simple-scan</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>xterm -e alsamixer</execute>
            </action> </item>
            <item label="Brasero"> <action name="Execute">
                <execute>brasero</execute>
            </action> </item>
            <item label="Cheese"> <action name="Execute">
                <execute>cheese</execute>
            </action> </item>
            <item label="Music"> <action name="Execute">
                <execute>gnome-music</execute>
            </action> </item>
            <item label="Parole Media Player"> <action name="Execute">
                <execute>parole</execute>
            </action> </item>
            <item label="Pragha"> <action name="Execute">
                <execute>pragha</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Sound Recorder"> <action name="Execute">
                <execute>gnome-sound-recorder</execute>
            </action> </item>
            <item label="Videos"> <action name="Execute">
                <execute>totem</execute>
            </action> </item>
            <item label="Xfburn"> <action name="Execute">
                <execute>xfburn</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Chromium"> <action name="Execute">
                <execute>chromium</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="Franz"> <action name="Execute">
                <execute>franz</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>xterm -e ftp</execute>
            </action> </item>
            <item label="Mail"> <action name="Execute">
                <execute>xterm -e mail</execute>
            </action> </item>
            <item label="Mail Reader"> <action name="Execute">
                <execute>exo-open --launch MailReader</execute>
            </action> </item>
            <item label="Polari"> <action name="Execute">
                <execute>gapplication launch org.gnome.Polari</execute>
            </action> </item>
            <item label="qutebrowser"> <action name="Execute">
                <execute>qutebrowser</execute>
            </action> </item>
            <item label="Remote Desktop Viewer"> <action name="Execute">
                <execute>vinagre</execute>
            </action> </item>
            <item label="Steam (Native)"> <action name="Execute">
                <execute>steam-native</execute>
            </action> </item>
            <item label="Steam (Runtime)"> <action name="Execute">
                <execute>steam-runtime</execute>
            </action> </item>
            <item label="Talk"> <action name="Execute">
                <execute>xterm -e talk</execute>
            </action> </item>
            <item label="Telegram Desktop"> <action name="Execute">
                <execute>telegram-desktop</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>xterm -e telnet</execute>
            </action> </item>
            <item label="Tor Browser (en-US)"> <action name="Execute">
                <execute>tor-browser-en</execute>
            </action> </item>
            <item label="Transmission"> <action name="Execute">
                <execute>transmission-gtk</execute>
            </action> </item>
            <item label="Vivaldi"> <action name="Execute">
                <execute>vivaldi-stable</execute>
            </action> </item>
            <item label="VK Messenger"> <action name="Execute">
                <execute>vk-messenger --disable-gpu</execute>
            </action> </item>
            <item label="Web"> <action name="Execute">
                <execute>epiphany</execute>
            </action> </item>
            <item label="Web Browser"> <action name="Execute">
                <execute>exo-open --launch WebBrowser</execute>
            </action> </item>
            <item label="Yandex Browser (beta)"> <action name="Execute">
                <execute>yandex-browser-beta</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Calendar"> <action name="Execute">
                <execute>gnome-calendar</execute>
            </action> </item>
            <item label="Calibre"> <action name="Execute">
                <execute>calibre</execute>
            </action> </item>
            <item label="Contacts"> <action name="Execute">
                <execute>gnome-contacts</execute>
            </action> </item>
            <item label="Desktop Editors"> <action name="Execute">
                <execute>desktopeditors</execute>
            </action> </item>
            <item label="Dictionary"> <action name="Execute">
                <execute>gnome-dictionary</execute>
            </action> </item>
            <item label="Dictionary"> <action name="Execute">
                <execute>xfce4-dict</execute>
            </action> </item>
            <item label="Document Viewer"> <action name="Execute">
                <execute>evince</execute>
            </action> </item>
            <item label="E-book Editor"> <action name="Execute">
                <execute>ebook-edit</execute>
            </action> </item>
            <item label="Evolution"> <action name="Execute">
                <execute>evolution</execute>
            </action> </item>
            <item label="FBReader"> <action name="Execute">
                <execute>FBReader</execute>
            </action> </item>
            <item label="LibreOffice Impress"> <action name="Execute">
                <execute>libreoffice</execute>
            </action> </item>
            <item label="Orage Calendar"> <action name="Execute">
                <execute>orage</execute>
            </action> </item>
            <item label="Orage Globaltime"> <action name="Execute">
                <execute>globaltime</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Files"> <action name="Execute">
                <execute>nautilus</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="PlayOnLinux"> <action name="Execute">
                <execute>playonlinux</execute>
            </action> </item>
            <item label="Terminal"> <action name="Execute">
                <execute>gnome-terminal</execute>
            </action> </item>
            <item label="Terminator"> <action name="Execute">
                <execute>terminator</execute>
            </action> </item>
            <item label="Thunar File Manager"> <action name="Execute">
                <execute>thunar</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Xfce Terminal"> <action name="Execute">
                <execute>xfce4-terminal</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Add/Remove Software"> <action name="Execute">
                        <execute>pamac-manager</execute>
                    </action> </item>
                    <item label="Adobe Flash Player"> <action name="Execute">
                        <execute>flash-player-properties</execute>
                    </action> </item>
                    <item label="Graphics Tablet"> <action name="Execute">
                        <execute>cinnamon-settings wacom</execute>
                    </action> </item>
                    <item label="Light Locker Settings"> <action name="Execute">
                        <execute>light-locker-settings</execute>
                    </action> </item>
                    <item label="Network Connections"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                    <item label="Privilege granting"> <action name="Execute">
                        <execute>gksu-properties</execute>
                    </action> </item>
                    <item label="Software Update"> <action name="Execute">
                        <execute>pamac-updater</execute>
                    </action> </item>
                </menu>
                <menu id="35" label="Xfce">
                    <item label="Orage preferences"> <action name="Execute">
                        <execute>orage -p</execute>
                    </action> </item>
                    <item label="Settings Manager"> <action name="Execute">
                        <execute>xfce4-settings-manager</execute>
                    </action> </item>
                </menu>
                <item label="Accessibility"> <action name="Execute">
                    <execute>cinnamon-settings universal-access</execute>
                </action> </item>
                <item label="Accessibility"> <action name="Execute">
                    <execute>xfce4-accessibility-settings</execute>
                </action> </item>
                <item label="Account details"> <action name="Execute">
                    <execute>cinnamon-settings user</execute>
                </action> </item>
                <item label="Appearance"> <action name="Execute">
                    <execute>xfce4-appearance-settings</execute>
                </action> </item>
                <item label="Applets"> <action name="Execute">
                    <execute>cinnamon-settings applets</execute>
                </action> </item>
                <item label="Backgrounds"> <action name="Execute">
                    <execute>cinnamon-settings backgrounds</execute>
                </action> </item>
                <item label="Color"> <action name="Execute">
                    <execute>cinnamon-settings color</execute>
                </action> </item>
                <item label="Date &amp; Time"> <action name="Execute">
                    <execute>cinnamon-settings calendar</execute>
                </action> </item>
                <item label="Desklets"> <action name="Execute">
                    <execute>cinnamon-settings desklets</execute>
                </action> </item>
                <item label="Desktop"> <action name="Execute">
                    <execute>cinnamon-settings desktop</execute>
                </action> </item>
                <item label="Desktop"> <action name="Execute">
                    <execute>xfdesktop-settings</execute>
                </action> </item>
                <item label="Display"> <action name="Execute">
                    <execute>xfce4-display-settings</execute>
                </action> </item>
                <item label="Display"> <action name="Execute">
                    <execute>cinnamon-settings display</execute>
                </action> </item>
                <item label="Effects"> <action name="Execute">
                    <execute>cinnamon-settings effects</execute>
                </action> </item>
                <item label="Extensions"> <action name="Execute">
                    <execute>cinnamon-settings extensions</execute>
                </action> </item>
                <item label="File Management"> <action name="Execute">
                    <execute>caja-file-management-properties</execute>
                </action> </item>
                <item label="File Manager"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
                <item label="Fonts"> <action name="Execute">
                    <execute>cinnamon-settings fonts</execute>
                </action> </item>
                <item label="General"> <action name="Execute">
                    <execute>cinnamon-settings general</execute>
                </action> </item>
                <item label="Hot Corners"> <action name="Execute">
                    <execute>cinnamon-settings hotcorner</execute>
                </action> </item>
                <item label="Keyboard"> <action name="Execute">
                    <execute>xfce4-keyboard-settings</execute>
                </action> </item>
                <item label="Keyboard"> <action name="Execute">
                    <execute>cinnamon-settings keyboard</execute>
                </action> </item>
                <item label="MIME Type Editor"> <action name="Execute">
                    <execute>xfce4-mime-settings</execute>
                </action> </item>
                <item label="Mouse and Touchpad"> <action name="Execute">
                    <execute>xfce4-mouse-settings</execute>
                </action> </item>
                <item label="Mouse and Touchpad"> <action name="Execute">
                    <execute>cinnamon-settings mouse</execute>
                </action> </item>
                <item label="Network"> <action name="Execute">
                    <execute>cinnamon-settings network</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Notifications"> <action name="Execute">
                    <execute>xfce4-notifyd-config</execute>
                </action> </item>
                <item label="Notifications"> <action name="Execute">
                    <execute>cinnamon-settings notifications</execute>
                </action> </item>
                <item label="Online Accounts"> <action name="Execute">
                    <execute>cinnamon-settings online-accounts</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Panel"> <action name="Execute">
                    <execute>xfce4-panel --preferences</execute>
                </action> </item>
                <item label="Panel"> <action name="Execute">
                    <execute>cinnamon-settings panel</execute>
                </action> </item>
                <item label="Power Management"> <action name="Execute">
                    <execute>cinnamon-settings power</execute>
                </action> </item>
                <item label="Power Manager"> <action name="Execute">
                    <execute>xfce4-power-manager-settings</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>cinnamon-settings default</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>exo-preferred-applications</execute>
                </action> </item>
                <item label="Privacy"> <action name="Execute">
                    <execute>cinnamon-settings privacy</execute>
                </action> </item>
                <item label="Qt5 Settings"> <action name="Execute">
                    <execute>qt5ct</execute>
                </action> </item>
                <item label="Removable Drives and Media"> <action name="Execute">
                    <execute>thunar-volman-settings</execute>
                </action> </item>
                <item label="Rygel Preferences"> <action name="Execute">
                    <execute>rygel-preferences</execute>
                </action> </item>
                <item label="Samba Server Configuration"> <action name="Execute">
                    <execute>gksu /usr/bin/system-config-samba</execute>
                </action> </item>
                <item label="Screensaver"> <action name="Execute">
                    <execute>cinnamon-settings screensaver</execute>
                </action> </item>
                <item label="Session and Startup"> <action name="Execute">
                    <execute>xfce4-session-settings</execute>
                </action> </item>
                <item label="Settings Editor"> <action name="Execute">
                    <execute>xfce4-settings-editor</execute>
                </action> </item>
                <item label="Sound"> <action name="Execute">
                    <execute>cinnamon-settings sound</execute>
                </action> </item>
                <item label="Startup Applications"> <action name="Execute">
                    <execute>cinnamon-settings startup</execute>
                </action> </item>
                <item label="System Info"> <action name="Execute">
                    <execute>cinnamon-settings info</execute>
                </action> </item>
                <item label="System Settings"> <action name="Execute">
                    <execute>cinnamon-settings</execute>
                </action> </item>
                <item label="Themes"> <action name="Execute">
                    <execute>cinnamon-settings themes</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="Users and Groups"> <action name="Execute">
                    <execute>cinnamon-settings-users</execute>
                </action> </item>
                <item label="Window Manager"> <action name="Execute">
                    <execute>xfwm4-settings</execute>
                </action> </item>
                <item label="Window Manager Tweaks"> <action name="Execute">
                    <execute>xfwm4-tweaks-settings</execute>
                </action> </item>
                <item label="Window Tiling"> <action name="Execute">
                    <execute>cinnamon-settings tiling</execute>
                </action> </item>
                <item label="Windows"> <action name="Execute">
                    <execute>cinnamon-settings windows</execute>
                </action> </item>
                <item label="Workspaces"> <action name="Execute">
                    <execute>cinnamon-settings workspaces</execute>
                </action> </item>
                <item label="Workspaces"> <action name="Execute">
                    <execute>xfwm4-workspace-settings</execute>
                </action> </item>
                <item label="Xfce Terminal"> <action name="Execute">
                    <execute>xfce4-terminal --preferences</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Boxes"> <action name="Execute">
                <execute>gnome-boxes</execute>
            </action> </item>
            <item label="Bulk Rename"> <action name="Execute">
                <execute>/usr/lib/Thunar/ThunarBulkRename</execute>
            </action> </item>
            <item label="Caja"> <action name="Execute">
                <execute>caja --no-desktop</execute>
            </action> </item>
            <item label="Color Profile Viewer"> <action name="Execute">
                <execute>gcm-viewer</execute>
            </action> </item>
            <item label="dconf Editor"> <action name="Execute">
                <execute>dconf-editor</execute>
            </action> </item>
            <item label="Disk Usage Analyzer"> <action name="Execute">
                <execute>baobab</execute>
            </action> </item>
            <item label="GNOME System Monitor"> <action name="Execute">
                <execute>gnome-system-monitor</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>xterm -e htop</execute>
            </action> </item>
            <item label="Log Out"> <action name="Execute">
                <execute>xfce4-session-logout</execute>
            </action> </item>
            <item label="Logs"> <action name="Execute">
                <execute>gnome-logs</execute>
            </action> </item>
            <item label="MultiWriter"> <action name="Execute">
                <execute>gnome-multi-writer</execute>
            </action> </item>
            <item label="Network Tools"> <action name="Execute">
                <execute>gnome-nettool</execute>
            </action> </item>
            <item label="Sensor Viewer"> <action name="Execute">
                <execute>xfce4-sensors</execute>
            </action> </item>
            <item label="Settings"> <action name="Execute">
                <execute>gnome-control-center</execute>
            </action> </item>
            <item label="Software"> <action name="Execute">
                <execute>gnome-software</execute>
            </action> </item>
            <item label="Task Manager"> <action name="Execute">
                <execute>xfce4-taskmanager</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Usage"> <action name="Execute">
                <execute>gnome-usage</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="Application Finder"> <action name="Execute">
                <execute>xfce4-appfinder</execute>
            </action> </item>
            <item label="Archive Manager"> <action name="Execute">
                <execute>file-roller</execute>
            </action> </item>
            <item label="Books"> <action name="Execute">
                <execute>gnome-books</execute>
            </action> </item>
            <item label="Calculator"> <action name="Execute">
                <execute>gnome-calculator</execute>
            </action> </item>
            <item label="Catfish File Search"> <action name="Execute">
                <execute>catfish</execute>
            </action> </item>
            <item label="Characters"> <action name="Execute">
                <execute>gapplication launch org.gnome.Characters</execute>
            </action> </item>
            <item label="Clipman"> <action name="Execute">
                <execute>xfce4-clipman</execute>
            </action> </item>
            <item label="Clocks"> <action name="Execute">
                <execute>gnome-clocks</execute>
            </action> </item>
            <item label="compton"> <action name="Execute">
                <execute>compton --xrender-sync-fence</execute>
            </action> </item>
            <item label="Disks"> <action name="Execute">
                <execute>gnome-disks</execute>
            </action> </item>
            <item label="Documents"> <action name="Execute">
                <execute>gnome-documents</execute>
            </action> </item>
            <item label="File Manager"> <action name="Execute">
                <execute>exo-open --launch FileManager</execute>
            </action> </item>
            <item label="Fonts"> <action name="Execute">
                <execute>gnome-font-viewer</execute>
            </action> </item>
            <item label="Gnote"> <action name="Execute">
                <execute>gnote</execute>
            </action> </item>
            <item label="Help"> <action name="Execute">
                <execute>yelp</execute>
            </action> </item>
            <item label="Maps"> <action name="Execute">
                <execute>gapplication launch org.gnome.Maps</execute>
            </action> </item>
            <item label="Nemo"> <action name="Execute">
                <execute>nemo</execute>
            </action> </item>
            <item label="Notes"> <action name="Execute">
                <execute>xfce4-notes</execute>
            </action> </item>
            <item label="NotifyOSD Configuration"> <action name="Execute">
                <execute>notifyconf</execute>
            </action> </item>
            <item label="Recipes"> <action name="Execute">
                <execute>gnome-recipes</execute>
            </action> </item>
            <item label="Run Program..."> <action name="Execute">
                <execute>xfce4-appfinder --collapsed</execute>
            </action> </item>
            <item label="Screenshot"> <action name="Execute">
                <execute>xfce4-screenshooter</execute>
            </action> </item>
            <item label="Screenshot"> <action name="Execute">
                <execute>gnome-screenshot --interactive</execute>
            </action> </item>
            <item label="Terminal Emulator"> <action name="Execute">
                <execute>exo-open --launch TerminalEmulator</execute>
            </action> </item>
            <item label="To Do"> <action name="Execute">
                <execute>gnome-todo</execute>
            </action> </item>
            <item label="Tweaks"> <action name="Execute">
                <execute>gnome-tweaks</execute>
            </action> </item>
            <item label="Weather"> <action name="Execute">
                <execute>gapplication launch org.gnome.Weather.Application</execute>
            </action> </item>
            <item label="Winetricks"> <action name="Execute">
                <execute>winetricks --gui</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
